/* CSS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column{
    display: flex;
    flex-direction: column;
  }
  
  .row{
    display: flex;
    flex-direction: row;
  }

  .outerFrame {
    border-radius: 50%;
    margin: -0.7vw;
    background-color: #454545;
  }
  
  .frame {
    height: calc(10em + 35vw);
    width: calc(10em + 35vw);
  }

  .simonInnerBody {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }
  
  .simonControls {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 0.7vw solid #454545;
  }
  
  h2{
    margin: 1vw;
    color: black;
    font-size: calc(3vw + 0.1vh);
    font-weight: bold;
  }
  
  .simonScore {
    margin: -0.1vw 1vw 0vw 1vw;
    font-weight: bold;
    font-size: 4vw;
    height: 4vw;
    width: 8vw;
    border: 0.2vw solid black;
    border-radius: 5px;
    color: #FF000C;
    background-color: #33021D;
  }
  
  .simonStart {
    margin: -0.1vw 1vw 0vw 1vw;
    height: 2.5vw;
    width: 2.5vw;
    border: 0.2vw solid #333333;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
   }
  
  .simonStrict {
    margin: -0.1vw 1vw 0vw 1vw;
    height: 2.5vw;
    width: 2.5vw;
    border: 0.2vw solid #333333;
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
   }
  
  .simonStrictLight {
    margin: 0.6vw 0vw 0.5vw 0vw;
    height: 0.7vw;
    width: 0.7vw;
    border: 0.2vw solid #333333;
    background-color: black;
    border-radius: 50%;
   }
  
  .simonStrictLight2 {
    margin: 0.6vw 0vw 0.5vw 0vw;
    height: 0.7vw;
    width: 0.7vw;
    visibility: hidden;
   }
  
  .holder{
    margin-top: 1vw;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 7vw;
    height: 4vw;
  }
  
  /* Hide default HTML checkbox */
  .switch button {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34vw;
    background-color: #ccc;
    transition: .4s ease;
    -webkit-transition: .4s ease;
  }
  
  .ball {
    position: absolute;
    height: 3vw;
    width: 3vw;
    left: 0.5vw;
    bottom: 0.5vw;
    border-radius: 50%;
    background-color: white;
    transition: .4s ease;
    -webkit-transition: .4s ease;
  }
  
  .disable{
    background-color: #EB5B43;
  }
  
  .enable{
    background-color: #49D06E;
  }
  
  h4 {
    margin: 0.3vw 0.5vw;
    font-size: calc(0.5em + 0.5vw);
  }
  .maincolumn{
    display: flex;
    flex-direction: column;
    height: 97vh;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }  


  /**
* Quarter Circles
*/

.main {
	position: relative;
}

.quarter {
	position:absolute;
	width: 50%;
	height: 50%;
	transition: background-color 0.2s ease-in-out;
}
.quarter:hover {
  background-color:pink;
  cursor: pointer;
}
.quarter1 {
	top:0;
	left:0;
	background-color: #FFF732;
  border-radius:100% 0 0 0;
  z-index: 1;
}
.quarter2 {
	top:0;
	right:0;
	background-color:#F8311A;
	border-radius:0 100% 0 0 ;
}
.quarter3 {
	bottom: 0;
	left: 0;
	background-color: #0298E8;
	border-radius: 0 0 0 100%;
}
.quarter4 {
	bottom: 0;
	right: 0;
	background-color: #4DD95C;
	border-radius: 0 0 100% 0 ;
}
.middle_ring {
	width: 50%;
	height: 50%;
	background-color: white;
	position: absolute;
	top: 25%;
	left: 25%;
	border-radius: 50%;
  z-index: 2;
	}