/* CSS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.frame {
  height: 97vh;
  width: 100%;
  overflow-y: hidden;
}

.circle {
  border-radius: 50%;
  height: 74vmin;
  width: 74vmin;
  background-color: #454545;
}

.controlFrame {
  border-radius: 50%;
  height: 33vmin;
  width: 33vmin;
  background-color: #454545;
  position: absolute;
}

.controls {
  position: absolute;
  border-radius: 50%;
  height: 31vmin;
  width: 31vmin;
  background-color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 5vmin;
  margin: 1vmin 0em;
}

.posBtn{
  position: relative;
  border-radius: 50%;
  height: 68vmin;
  width: 68vmin;
}

.quarter {
  margin: 34vmin;
  position: absolute;
	width: 50%;
	height: 50%;
	transition: background-color 0.2s ease-in-out;
}
.quarter:active {
  background-color:pink;
  cursor: pointer;
  outline: none;
  transition: .4s ease;
  -webkit-transition: .4s ease;
}

.quarter:hover {
  cursor: pointer;
  outline: none;
}

.quarter1 {
  top:0;
	left:0;
	background-color: #FFF732;
  border-radius: 100% 0 0 0;
  border: none;
  outline: none;
}
.quarter2 {
  top:0;
	right:0;
	background-color:#F8311A;
  border-radius:0 100% 0 0 ;
  border: none;
  outline: none;
}
.quarter3 {
  bottom: 0;
	left: 0;
	background-color: #0298E8;
  border-radius: 0 0 0 100%;
  border: none;
  outline: none;
}
.quarter4 {
  bottom: 0;
	right: 0;
	background-color: #4DD95C;
  border-radius: 0 0 100% 0 ;
  border: none;
  outline: none;
}

.centerRing {
	width: 50%;
	height: 50%;
	background-color: white;
	position: absolute;
	top: 25%;
	left: 25%;
	border-radius: 50%;
  z-index: 2;
  }

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.simonScore {
  margin: 1vmin;
  font-weight: bold;
  font-size: 4vmin;
  height: 5vmin;
  width: 9.5vmin;
  border: 0.2vmin solid black;
  border-radius: 1vmin;
  color: #FF000C;
  background-color: #33021D;
}

.simonStrict {
  margin: -0.1vmin 1vmin 0vmin 1vmin;
  height: 3vmin;
  width: 3vmin;
  border: 0.2vmin solid #333333;
  background-color: #ffff76;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

  
.simonStart {
  margin: -0.1vmin 1vmin 0vmin 1vmin;
  height: 3vmin;
  width: 3vmin;
  border: 0.2vmin solid #333333;
  background-color: #ff3333;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.simonStrictLight2 {
  margin: 0.6vmin 0vmin 0.5vmin 0vmin;
  height: 1vmin;
  width: 1vmin;
  visibility: hidden;
}

.simonStrictLight {
  margin: 0.6vmin 0vmin 0.5vmin 0vmin;
  height: 1vmin;
  width: 1vmin;
  border: 0.1vmin solid #333333;
  background-color: black;
  border-radius: 50%;
}

h4 {
  margin: 0.3vw 0.5vw;
  font-size: 1.7vmin;
}

.switch {
  position: relative;
  display: inline-block;
  width: 7vmin;
  height: 4vmin;
}

/* Hide default HTML checkbox */
.switch button {display: none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34vmin;
  background-color: #ccc;
  transition: .4s ease;
  -webkit-transition: .4s ease;
}

.ball {
  position: absolute;
  height: 3vmin;
  width: 3vmin;
  left: 0.5vmin;
  bottom: 0.5vmin;
  border-radius: 50%;
  background-color: white;
  transition: .4s ease;
  -webkit-transition: .4s ease;
}

.disable{
  background-color: #EB5B43;
}

.enable{
  background-color: #49D06E;
}

.last{
  left: 3.5vmin;
}

.quarterCompHover {
  background-color:pink;
  cursor: pointer;
  outline: none;
  transition: .4s ease;
  -webkit-transition: .4s ease;
}